### 1. Numbers and Strings

In [1]:
import numpy as np

In [2]:
# data types

# ints vs. floats
c = 7
d = 7.0

print(c, d)

7 7.0

In [5]:
print(type(c))
print(type(d))

<class 'int'>
<class 'float'>

In [6]:
for i in range(0,c):
    print(i)

0
1
2
3
4
5
6

In [7]:
for i in range(d):
    print(i)

TypeError: 'float' object cannot be interpreted as an integer

In [8]:
c+d

14.0

In [10]:
firstName = 'Mike'
lastName = 'Cohen'
type(firstName)

str

In [13]:
firstName + ' ' + lastName # overloading

'Mike Cohen'

In [14]:
c * d

49.0

In [15]:
firstName * 3

'MikeMikeMike'

In [16]:
%whos

Variable     Type      Data/Info
--------------------------------
c            int       7
d            float     7.0
firstName    str       Mike
firstNames   str       Mike
i            int       6
lastName     str       Cohen
np           module    <module 'numpy' from 'F:\<...>ges\\numpy\\__init__.py'>

#### 1. Exercises

In [25]:
# convert across datatypes
s1 = '4'
s2 = '4.7'
n1 = 5
n2 = 5.8

# convert the strings to integers
print( type(int(s1)))
print( type(int(float(s2))))

# convert the strings to floats
print(float(s1), type(float(s1)))
print(float(s2), type(float(s2)))

# convert the numbers into strings
print(type(str(n1)))
str(n2)

<class 'int'>
<class 'int'>
4.0 <class 'float'>
4.7 <class 'float'>
<class 'str'>

'5.8'

### 2. Lists and numpy arrays

In [26]:
import numpy as np

In [29]:
aList = [0, 1, 2, 3, 4, 5]
type(aList)

list

In [30]:
listList = [3, ['3', '4', '5'], 5.5, [4, 5, 6]]
listList

[3, ['3', '4', '5'], 5.5, [4, 5, 6]]

In [32]:
listList = [
    3,                # a number
    ['3', '4', '5'],  # a list of strings
    5.5,              # another float number
    [4, 5, 6]
]
listList

[3, ['3', '4', '5'], 5.5, [4, 5, 6]]

In [33]:
aList = [0, 1, 2, 3, 4, 5]
sList = ['0', '1', '2', '3', '4', '5']

aList + sList

[0, 1, 2, 3, 4, 5, '0', '1', '2', '3', '4', '5']

In [34]:
sList + sList

['0', '1', '2', '3', '4', '5', '0', '1', '2', '3', '4', '5']

In [35]:
aList * 3

[0, 1, 2, 3, 4, 5, 0, 1, 2, 3, 4, 5, 0, 1, 2, 3, 4, 5]

In [36]:
sList * 3

['0',
 '1',
 '2',
 '3',
 '4',
 '5',
 '0',
 '1',
 '2',
 '3',
 '4',
 '5',
 '0',
 '1',
 '2',
 '3',
 '4',
 '5']

In [38]:
aList_np = np.array(aList)
print(type(aList))
print(type(aList_np))
print(aList)
print(aList_np)

<class 'list'>
<class 'numpy.ndarray'>
[0, 1, 2, 3, 4, 5]
[0 1 2 3 4 5]

In [39]:
aList_np * 3

array([ 0,  3,  6,  9, 12, 15])

In [40]:
aList + 3

TypeError: can only concatenate list (not "int") to list

In [41]:
aList + [3]

[0, 1, 2, 3, 4, 5, 3]

#### 2. Exercises

In [52]:
for idx, item in enumerate(listList):
    t = str(type(item))[8:]
    apost = t.find("''")
    print(f'List element {idx} is {item} and is of type {t[:apost]}')

List element 0 is 3 and is of type int'
List element 1 is ['3', '4', '5'] and is of type list'
List element 2 is 5.5 and is of type float'
List element 3 is [4, 5, 6] and is of type list'