### 1. Numbers and Strings

In [1]:
import numpy as np

In [2]:
# data types

# ints vs. floats
c = 7
d = 7.0

print(c, d)

7 7.0

In [5]:
print(type(c))
print(type(d))

<class 'int'>
<class 'float'>

In [6]:
for i in range(0,c):
    print(i)

0
1
2
3
4
5
6

In [7]:
for i in range(d):
    print(i)

TypeError: 'float' object cannot be interpreted as an integer

In [8]:
c+d

14.0

In [10]:
firstName = 'Mike'
lastName = 'Cohen'
type(firstName)

str

In [13]:
firstName + ' ' + lastName # overloading

'Mike Cohen'

In [14]:
c * d

49.0

In [15]:
firstName * 3

'MikeMikeMike'

In [16]:
%whos

Variable     Type      Data/Info
--------------------------------
c            int       7
d            float     7.0
firstName    str       Mike
firstNames   str       Mike
i            int       6
lastName     str       Cohen
np           module    <module 'numpy' from 'F:\<...>ges\\numpy\\__init__.py'>

#### 1. Exercises

In [25]:
# convert across datatypes
s1 = '4'
s2 = '4.7'
n1 = 5
n2 = 5.8

# convert the strings to integers
print( type(int(s1)))
print( type(int(float(s2))))

# convert the strings to floats
print(float(s1), type(float(s1)))
print(float(s2), type(float(s2)))

# convert the numbers into strings
print(type(str(n1)))
str(n2)

<class 'int'>
<class 'int'>
4.0 <class 'float'>
4.7 <class 'float'>
<class 'str'>

'5.8'